/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .mpp-preview-fade {
    height: 100px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    margin-top: -100px;
    position: relative;
}