name: 'build-test'
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - name: Install Composer dependencies
        working-directory: ./MpesaPaywallPro
        run: composer install --no-dev --optimize-autoloader
      - name: List plugin files
        run: ls -R ./MpesaPaywallPro
      - name: Run plugin check
        uses: wordpress/plugin-check-action@v1.1.5
        with:
          build-dir: ./MpesaPaywallPro